@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
}
.sidebar{
    /*background-color:rgb(103, 103, 23);*/
    /* background-color: rgb(26, 26, 114);  */
    background: linear-gradient(270deg,rgb(232, 230, 231),rgb(47, 2, 36));
    /*width: 430px;*/
    position: absolute;
    height:120vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
    padding:70px;
}
.sidebar nav li{
    list-style:none;
    font-size:20px;
    padding:30px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
   /* background-color: rgb(13, 74, 74);*/
   background-color: rgb(224, 196, 201);
   background: linear-gradient(0deg,rgb(27, 1, 27),rgb(197, 116, 179));
    width: 100vw;
}
.container{
    display: flex;
}
.infoContainer{
    /*background-color: rgb(36, 69, 36);*/
    height:58vh;
    width:80vw;
    margin: 147px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    font-size: 16%;
    display:flex;
    justify-content:center;
    flex-direction: column;
    font-family: 'Crimson Text', serif;
    
}
.hello{
    font-size: 2.5rem;
}
.name{
    font-size:2.5rem ;
    font-weight: bold;
}
.about{
    font-size: 2rem;
}
.moreabout{
    font-size:2rem ;
    margin-top: 21px;
}
.buttons{
    margin-top: 2.5rem;
    font-size: 15%;
}
.btn{
    padding: 9px 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(28, 28, 117);
    font-weight: bold;
    font-size: 1rem;
    margin:3% 3%;
    cursor:pointer;
}
.btn-sm{
    font-size: 14px;
    padding: 10px 18px;
    margin: 12px 0;
}
.btn:hover{
    background-color: white;
    color:rgb(28, 28, 117) ;
}
.devPic img{
    height:40vh;
    box-shadow: 10px 7px 9px #000000b0, -3px -3px 9px #000000b5;
    /*width:30 px;*/
}
.contactform{
    
    padding: 0 32px;
    /*padding-top: 140px;*/
    font-family: 'Crimson Text', serif;
    margin:8% ;
}
.contactform h1{
    text-align: center;
    /*padding: 12px 0;*/
}
.contactform form div{
    padding: 10px 0; 
    display: flex;
    flex-direction: column;  
}
.contactform form div input{
    /*width: 15vw;*/
    border-radius: 5%;
    margin: 6% 0 0 0;
    padding: 3%;
}
.contactform form{
    margin: 0 30%;
}
#emailHelp{
    font-size: 10px;
    margin: 0 5px;
    padding: 3px 0 0 0;
}
#form-check{
    flex-direction: row;

}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
h1{
    margin: 22px;
}
p{
    font-family: 'Crimson Text', serif; 
}
.intro{
    margin:  88px;
}
.intro h2{
    font-family: 'Crimson Text', serif;
    margin: 12px;
    padding: 10px;
}
.intro p{
    font-family: 'Crimson Text', serif;
    margin: 12px;
    padding: 10px;
    
}
.skillContainer{
    padding: 10px;
}
.skillItem{
    display: flex;
    align-items: center;
}
.skill{
    width: 22px;
    height: 22px;
}
.eduContainer{
    padding: 10px;
}
.eduItem{
    display: flex;
    align-items: center;
}
.edu{
    width:22px;
    height: 22px;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}
.ham{
    margin-top:8px ;
    margin-left: 8px;
}
.cross{
    margin-left:185px ;
    margin-top: 8px;
}
@media(max-width: 615px){
    .devPic{
        display: none;
    }
    .buttons{
        font-size: 6%;
    }
    .devInfo{
        font-size: 10%;
    }
    /*.sidebar{
        transform: translate(-443px,0px);
        position: absolute;
    }*/
    .intro, .contactform{
        margin: 40px 8px;
    }  
}